

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {

  margin: 0;
  padding: 0;
}

button {
  padding: 22px 54px !important;
  background: linear-gradient(90deg, #3FE8AB, #78CDCD) !important;
  border-radius: 10px !important;

  /* Try for free (text) */
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  letter-spacing: 0.1em !important;
  text-align: left !important;
  text-transform: uppercase !important;

  color: #111111 !important;
  border: 0;
}
