


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  background-color: #111111;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #F6F6F6;
  font-size: 80px ;
  line-height: 119% ;
}

.price {
  font-family: Lato !important;
  background: linear-gradient(90deg, #3FE8AB, #78CDCD) !important;
}


.container {
  display: flex;
}

.col-6 {
  width:  50%;
}

